{% extends "base.html" %}
{% block title %}Inscription Chauffeur VTC{% endblock %}
{% block content %}
    <div style="text-align:center;">
        <h2>Inscription à l'examen Chauffeur VTC</h2>
        <p>Renseignez les informations nécessaires à votre inscription :</p>
    </div>
    <form method="POST" style="margin-top:20px;">
        <label>Nom :</label><br>
        <input type="text" name="nom" required><br><br>

        <label>Prénom :</label><br>
        <input type="text" name="prenom" required><br><br>

        <label>Identifiant CMAR Evalbox (mail de connexion) :</label><br>
        <input type="text" name="identifiant" required><br><br>

        <label>Mot de passe CMAR Evalbox :</label><br>
        <input type="password" name="motdepasse" required><br><br>

        <label>Adresse postale :</label><br>
        <input type="text" name="adresse" required><br><br>

        <label>Code postal :</label><br>
        <input type="text" name="codepostal" required><br><br>

        <label>Ville :</label><br>
        <input type="text" name="ville" required><br><br>


        <div style="text-align:center;">
            <button type="submit" style="background:#27ae60;color:white;padding:10px 20px;border:none;border-radius:6px;cursor:pointer;">
                📩 Envoyer
            </button>
        </div>
    </form>
{% endblock %}
